@using IfakCrane.Client.Services;
@using Newtonsoft.Json;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Crane Demonstrator </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="flex-column" style="padding:10px;">
    <RadzenCard Style="padding-top: 0px">
        <RadzenText Text="Crane Selector" TextAlign="Radzen.TextAlign.Center" />
        <label>Master:</label>
        <RadzenDropDown TValue="string" Value=@MasterCrane Data=@MasterCranes Change="@(args => OnCraneSelected($"{args}"))" Style="margin-top: 5px;width:70%" />
        <label style="width:54px">Slave :</label>
        <RadzenDropDown TValue="string" Value=@SlaveCrane Data=@SlaveCranes Change="@(args => SlaveCrane = $"{args}")" Style="margin-top: 5px;width:70%" />
    </RadzenCard>

    <RadzenCard Style="padding-top: 0px;margin-top:10px">
        <RadzenText Text="Trolley Selector" TextAlign="Radzen.TextAlign.Center" />
        <label>Master:</label>
        <RadzenDropDown TValue="string" Value=@MasterTrolley Data=@Trolleys Change="@(args => MasterTrolley = $"{args}")" Style="margin-top: 5px;width:70%" />
        <label style="width:54px">Slave :</label>
        <RadzenDropDown TValue="string" Value=@SlaveTrolley Data=@SlaveTrolleys Change="@(args => SlaveTrolley = $"{args}")" Style="margin-top: 5px;width:70%" />
    </RadzenCard>

    <RadzenCard Style="padding-top: 0px;margin-top:10px">
        <RadzenText Text="Function Selection" TextAlign="Radzen.TextAlign.Center" />
        <RadzenRadioButtonList Value="@SelectedFunction" TValue="string" Change=@(args => OnFunctionSelected($"{args}")) Orientation="Radzen.Orientation.Vertical" Name="" Visible="true">
            <Items>
               @foreach (var functionName in functionNames)
                {
                    <RadzenRadioButtonListItem Value="@functionName.Name" Text="@functionName.DisplayingName"></RadzenRadioButtonListItem>
                }
            </Items>
        </RadzenRadioButtonList>
    </RadzenCard>
    <button Style="margin-top:10px;width:100%;background-color:white;color:black" @onclick="StopButtonClick">Stop</button>
</div>

<nav class="flex-column nav-item px-3" style="position: fixed; bottom: 0;">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
            <span class="oi" aria-hidden="true">
                <RadzenIcon Icon="settings_applications"></RadzenIcon>
            </span> Settings
        </NavLink>
    </div>
</nav>


